{{#each artists}}
<div id="container{{id}}" class="row artist-container">
	<div id="img{{id}}" class="col-xs-12 col-sm-4">
		<img src="{{profileImage}}" alt="{{name}}" class="img-responsive"></img>
		<p class="custom-position">{{position}}</p>
		<button type="button" id="btn{{id}}" class="btn btn-primary custom-button" data-id="{{id}}">Hide</button>
	</div>
	<div id="info{{id}}" class="col-xs-12 col-sm-8">
		<div class="row">
			<div class="col-xs-4">Tweets:</div>
			<div class="col-xs-4">{{stats.tweets}}</div>
			<div class="col-xs-4"></div>
		</div>
		<div class="row central-row">
			<div class="col-xs-4">Followers:</div>
			<div class="col-xs-4">{{stats.followers}}</div>
			<div class="col-xs-4"></div>
		</div>
		<div class="row bottom-row">
			<div class="col-xs-4">Retweets:</div>
			<div class="col-xs-4">{{stats.retweets}}</div>
			<div class="col-xs-4"><a href="https://twitter.com/{{id}}">{{handle}}</a></div>
		</div>
	</div>
</div>
{{/each}}